@font-face {
  font-family: StreetLCG2;
  font-style: normal;
  font-weight: 200;
  src: url(../font/341fe87bc4b88c1443fd251e4bcf0356.woff2) format("woff2");
}

@font-face {
  font-family: StreetLCG2;
  font-style: normal;
  font-weight: 400;
  src: url(../font/d42f3ba8abcc0ddd28faf93c6011c8c5.woff2) format("woff2");
}

@font-face {
  font-family: StreetLCG2;
  font-style: normal;
  font-weight: 600;
  src: url(../font/6ce110fae5e99fa9ed780267833c7c13.woff2) format("woff2");
}

@font-face {
  font-family: hbomax-glyph;
  src: url(../font/8514a7a5c958fb6a39c6e92e3c81a80f.woff2) format("woff2"),
    url(../font/d70a854d087b542e7af92a123908ddfa.woff) format("woff"),
    url(../font/cc3591dbd0cbe262b413f6aec3e3f8a7.ttf) format("truetype");
}

@font-face {
  font-family: cinecav-casual-regular;
  src: url(../font/3122b80edc056e8f3a9811c16baa6db9.ttf) format("truetype");
}

@font-face {
  font-family: cinecav-mono-regular;
  src: url(../font/14287023ee3db9becf765550267b316b.ttf) format("truetype");
}

@font-face {
  font-family: cinecav-sans-regular;
  src: url(../font/12d55a706d3b6c3562be7561a613b1d0.ttf) format("truetype");
}

@font-face {
  font-family: cinecav-script-regular;
  src: url(../font/789699ef72a84ca1ffce34838db1c705.ttf) format("truetype");
}

@font-face {
  font-family: "cinecav-serif-regular";
  src: url(../font/8c18759d2c2108526324aea22a726ea2.ttf) format("truetype");
}

@font-face {
  font-family: cinecav-small-caps-regular;
  src: url(../font/504d05593873f743e729836d2e2f5c87.ttf) format("truetype");
}

@font-face {
  font-family: cinecav-type-regular;
  src: url(../font/c2096f24fbe1a327cbbd7696ad733988.ttf) format("truetype");
}
